@page
@model CourseSchedulingSystem.Pages.Manage.Terms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Term</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Term.Name" class="control-label"></label>
                <input asp-for="Term.Name" class="form-control" />
                <span asp-validation-for="Term.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term.StartDate" class="control-label"></label>
                <input asp-for="Term.StartDate" class="form-control" />
                <span asp-validation-for="Term.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term.EndDate" class="control-label"></label>
                <input asp-for="Term.EndDate" class="form-control" />
                <span asp-validation-for="Term.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
