@page
@model CourseSchedulingSystem.Pages.Manage.Courses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseModel.DepartmentId" class="control-label">Department</label>
                <select asp-for="CourseModel.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.SubjectId" class="control-label">Subject</label>
                <select asp-for="CourseModel.SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.Number" class="control-label"></label>
                <input asp-for="CourseModel.Number" class="form-control"/>
                <span asp-validation-for="CourseModel.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.Title" class="control-label"></label>
                <input asp-for="CourseModel.Title" class="form-control"/>
                <span asp-validation-for="CourseModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CreditHours" class="control-label"></label>
                <input asp-for="CourseModel.CreditHours" class="form-control" type="number" step="0.001"/>
                <span asp-validation-for="CourseModel.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseLevels" class="control-label"></label>
                <select asp-for="CourseModel.CourseLevels" asp-items="Html.GetEnumSelectList<CoursesPageModel.CourseLevelEnum>()" class="form-control"></select>
                <span asp-validation-for="CourseModel.CourseLevels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.ScheduleTypeIds" class="control-label"></label>
                <select asp-for="CourseModel.ScheduleTypeIds" asp-items="Model.ScheduleTypeOptions" class="form-control"></select>
                <span asp-validation-for="CourseModel.ScheduleTypeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseAttributeIds" class="control-label"></label>
                <select asp-for="CourseModel.CourseAttributeIds" asp-items="Model.CourseAttributeOptions" class="form-control"></select>
                <span asp-validation-for="CourseModel.CourseAttributeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Styles {
    <style>
        #ms-CourseModel_CourseLevels .ms-list {
            height: 4em;
        }
    </style>
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#CourseModel_CourseLevels").multiSelect();
            $("#CourseModel_ScheduleTypeIds").multiSelect();
            $("#CourseModel_CourseAttributeIds").multiSelect();
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}