@page
@model CourseSchedulingSystem.Pages.Manage.Courses.CreateModel

@{
    ViewData["Title"] = "Create Course";
}

<h1>Create</h1>

<h4>Course</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.DepartmentId" class="control-label">Department</label>
                <select asp-for="Course.DepartmentId" class="form-control" asp-items="Model.DepartmentOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Course.SubjectId" class="control-label">Subject</label>
                <select asp-for="Course.SubjectId" class="form-control" asp-items="Model.SubjectOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Course.Number" class="control-label"></label>
                <input asp-for="Course.Number" class="form-control" />
                <span asp-validation-for="Course.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" type="number" step="0.001" />
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Course Level</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Course.IsUndergraduate" /> @Html.DisplayNameFor(model => model.Course.IsUndergraduate)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Course.IsGraduate" /> @Html.DisplayNameFor(model => model.Course.IsGraduate)
                    </label>
                </div>
                <span asp-validation-for="Course.IsUndergraduate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTypeIds" class="control-label"></label>
                <select asp-for="ScheduleTypeIds" asp-items="Model.ScheduleTypeOptions" class="form-control"></select>
                <span asp-validation-for="ScheduleTypeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseAttributeIds" class="control-label"></label>
                <select asp-for="CourseAttributeIds" asp-items="Model.CourseAttributeOptions" class="form-control"></select>
                <span asp-validation-for="CourseAttributeIds" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Course.IsEnabled" checked="@(Model.Course?.IsEnabled ?? true ? "" : null)" /> @Html.DisplayNameFor(model => model.Course.IsEnabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#ScheduleTypeIds").multiSelect();
            $("#CourseAttributeIds").multiSelect();
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}