@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.Id"/>
            <div class="form-group">
                <label asp-for="Course.DepartmentId" class="control-label">Department</label>
                <select asp-for="Course.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="Course.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.SubjectId" class="control-label">Subject</label>
                <select asp-for="Course.SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="Course.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Number" class="control-label"></label>
                <input asp-for="Course.Number" class="form-control"/>
                <span asp-validation-for="Course.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label"></label>
                <input asp-for="Course.Title" class="form-control"/>
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.CreditHours" class="control-label"></label>
                <input asp-for="Course.CreditHours" class="form-control" type="number" step="0.001"/>
                <span asp-validation-for="Course.CreditHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}