@page
@model CourseSchedulingSystem.Pages.Manage.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table id="grid"></table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var linksRenderer = function (value, record, $cell, $displayEl) {
                var $btn = $(`<a href="${value.edit}">Edit</a> | <a href="${value.details}">Details</a> | <a href="${value.delete}">Delete</a>`);
                $displayEl.empty().append($btn);
            };
            var grid = $('#grid').grid({
                dataSource: "@Url.Page("Index", "data")",
                paramNames: {
                    page: 'pageNumber'
                },
                headerFilter: true,
                columns: [
                    { field: 'department', title: 'Department', sortable: true, width: 125 },
                    { field: 'identifier', title: 'Identifier', sortable: true, width: 125 },
                    { field: 'title', title: 'Name', sortable: true },
                    { field: 'creditHours', title: 'Credit Hours', sortable: true, width: 125 },
                    { field: 'links', title: '', sortable: false, filterable: false, width: 200, renderer: linksRenderer }
                ],
                pager: { limit: 20 }
            });
        });
    </script>
}