@page
@model CourseSchedulingSystem.Pages.Manage.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<h4>Filters</h4>
<div class="row">
    <div class="col-2">
        <div class="form-group">
            <label class="control-label">Department</label>
            <select id="departmentFilter" class="form-control form-control-chosen" data-placeholder="Departments" multiple asp-items="Model.DepartmentFilterOptions"></select>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label class="control-label">Identifier</label>
            <input type="text" id="identifierFilter" class="form-control" placeholder="Identifier">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" id="nameFilter" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="col-2">
        <div class="form-group">
            <label class="control-label">Credit Hours</label>
            <select id="creditHoursFilter" class="form-control form-control-chosen" data-placeholder="Credit Hours" multiple asp-items="Model.CreditHoursFilterOptions"></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Schedule Types</label>
            <select id="scheduleTypesFilter" class="form-control form-control-chosen" data-placeholder="Schedule Types" multiple asp-items="Model.ScheduleTypesFilterOptions"></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="control-label">Course Attributes</label>
            <select id="courseAttributesFilter" class="form-control form-control-chosen" data-placeholder="Course Attributes" multiple asp-items="Model.CourseAttributesFilterOptions"></select>
        </div>
    </div>
</div>

<h4>Results</h4>
<table id="grid"></table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var linksRenderer = function (value, record, $cell, $displayEl) {
                var $btn = $(`<a href="${value.edit}">Edit</a> | <a href="${value.details}">Details</a> | <a href="${value.delete}">Delete</a>`);
                $displayEl.empty().append($btn);
            };
            var grid = $('#grid').grid({
                dataSource: "@Url.Page("Index", "data")",
                paramNames: {
                    page: 'pageNumber'
                },
                columns: [
                    { field: 'department', title: 'Department', sortable: true, width: 125 },
                    { field: 'identifier', title: 'Identifier', sortable: true, width: 125 },
                    { field: 'title', title: 'Name', sortable: true },
                    { field: 'creditHours', title: 'Credit Hours', sortable: true, width: 125 },
                    { field: 'links', title: '', sortable: false, width: 200, renderer: linksRenderer }
                ],
                pager: { limit: 20 }
            });
            var reloadGrid = function () {
                grid.reload({
                    departments: $('#departmentFilter').val(),
                    identifier: $('#identifierFilter').val(),
                    title: $('#nameFilter').val(),
                    creditHours: $('#creditHoursFilter').val(),
                    scheduleTypes: $('#scheduleTypesFilter').val(),
                    courseAttributes: $('#courseAttributesFilter').val()
                });
            };

            $('#departmentFilter').chosen();
            $('#departmentFilter').on('change', reloadGrid);

            $('#identifierFilter').on('change keyup paste', reloadGrid);

            $('#nameFilter').on('change keyup paste', reloadGrid);

            $('#creditHoursFilter').chosen();
            $('#creditHoursFilter').on('change', reloadGrid);

            $('#scheduleTypesFilter').chosen();
            $('#scheduleTypesFilter').on('change', reloadGrid);

            $('#courseAttributesFilter').chosen();
            $('#courseAttributesFilter').on('change', reloadGrid);
        });
    </script>
}