@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: groove thin gold;
    }
    p {
        text-indent: 30px;
    }
</style>

<h1>User Manual</h1>

<div>
    <hr/>
    <div class="row">
        <div class="col-md-3" align="right" style="border-right: groove" >
            <partial name="_DocsNav"/>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}
