@page

<section style="border-bottom:groove">
    <h2>Add</h2>
    <p>The add button navigates to a creation page for the selected variable type. The fields will typically include a name field and at least one limited entry field. Limited entry refers to a component that is limited by the number of entry characters or the type of charscters entered</p>
    <br />
    <img src="~/images/Standard_Add_Page.PNG" alt="Example Add Page" />
    <br />
    <p>For instance, terms have a name entry and two date entries. The date fields are limited to numerical entries of mm/dd/yyyy.</p>
    <br />
</section>

<section>
    <h2>Manage</h2>
    <img src="~/images/Standard_Manage_Page.PNG" alt="Example Manage Page" />
    <br />
    <p>The Manage page of every variable will have at least these three buttons. Their functions are as follows:</p>
    <br />

    <ul>
        <li>Edit</li>
        <p>Navigates to a page wherein the user may change details of the variable already in the database.</p>
        <br />
        <li>Details</li>
        <p>Lists the details associated with the specified variable.</p>
        <br />
        <li>Delete</li>
        <p>This will delete the specified variable. A second screen will appear to double check the decision. Some deletes may not be possible due to codependence. [Screenshot of delete warning page]</p>
    </ul>

    <br />
    <p>** Additional buttons within management pages will be covered in their matching sections of the tutorial. **</p>
</section>
