@page

<div style="border-bottom:groove">
    <h2>Add</h2>
    <div>The add button navigates to a creation page for the selected variable type. The fields will typically include a name field and at least one limited entry field. Limited entry refers to a component that is limited by the number of entry characters or the type of charscters entered</div>
    <br />
    <<img src="~/Images/Standard_Add_Page.PNG"/>
    <div>For instance, terms have a name entry and two date entries. The date fields are limited to numerical entries of mm/dd/yyyy.</div>
    <br />
</div>

<div>
    <h2>Manage</h2>
    <img src="~/Images/Standard_Manage_Page.PNG"/>
    <div>The Manage page of every variable will have at least these three buttons. Their functions are as follows:</div>
    <br />
    <li>Edit</li>
    <!--I'd like to include some tabs for formatting-->
    <div>Navigates to a page wherein the user may change details of the variable already in the database.</div>
    <br />
    <li>Details</li>
    <div>Lists the details associated with the specified variable.</div>
    <br />
    <li>Delete</li>
    <div>This will delete the specified variable. A second screen will appear to double check the decision. Some deletes may not be possible due to codependence. [Screenshot of delete warning page]</div>
    <br />
    <div>** Additional buttons within management pages will be covered in their matching sections of the tutorial. **</div>
</div>
