@page

<section>
    <p>
        These are semi-optional attributes that add extra descriptors to courses. These can include things like "Writing Intensive" or "Constitutional Requirement".
    </p>
</section>

<section>
    <br />
    <h2>Creating Miscellanious Attributes</h2>
    <img src="~/images/Add_Attribute.PNG" alt="Add Attribute Page" />
    <br />
    <p>
        Simply type out the name and click "Create".
    </p>
</section>

<section>
    <br />
    <h2>Managing Attributes</h2>
    <img src="~/images/Manage_Attributes.PNG" />
    <br />
    <p>
        The Details link shows the name of the selected attribute and lists any courses that bear said attribute.
    </p>
    <p>
        There are no specialized links in this Management page.
    </p>
</section>