@page

<p>There are a number of tags that Winthrop uses as independent graduation requisites. For instance, the Constitutional requirement can be fulfilled by a number of different courses. However, these tags do no have enough commonality to have join other groupings, so they are placed under miscellanious attributes.</p>
<br />
<br />

<section style="border-bottom: groove">
    <h2>Creating Miscellanious Attributes</h2>
    <img src="~/images/Add_Attribute.PNG" alt="Add Attribute Page" />
    <br />
    <p>Simply enter an appropriate name and click "Create".</p>
    <br />
</section>

<p>
    <br />
    <h2>Managing Attributes</h2>
    <p>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</p>
</p>