@page

<h1>Miscellanious Attributes</h1>
<div>There are a number of tags that Winthrop uses as independent graduation requisites. For instance, the Constitutional requirement can be fulfilled by a number of different courses. However, these tags do no have enough commonality to have join other groupings, so they are placed under miscellanious attributes.</div>
<br />
<br />

<div style="border-bottom: groove">
    <h2>Creating Miscellanious Attributes</h2>
    <img src="~/Images/Add_Attribute.PNG"/>
    <div>Simply enter an appropriate name and click create.</div>
    <br />
</div>

<div>
    <br />
    <h2>Managing Attributes</h2>
    <div>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</div>
</div>