@page

<p>Every so often, a new building is added to the campus, or an old building is refurbished for instructional use. This section is for future proofing such circumstances.</p>

<section style="border-bottom: groove">
    <br />
    <h2>Creating Buildings</h2>
    <img src="~/images/Add_Building.PNG" alt="Create Building Page" />
    <br />
    <p>Every Building has a code and a name. The code is purely for indexing purposes, while the name will be the colloquial that most students and staff use to identify the building.</p>
    Note also the checkbox that reads "Buidling Enabled". This indicates if the new building will be available for courses. Unchecking the box insures the building will not be listed when constructing schedules.
    <br />
</section>

<section>
    <br />
    <h2>Managing Buildings</h2>
</section>
