@page

<div>Herein is one of the more complex variables utilized in making schedules. Courses are frequently altered, created, and dropped on a yearly basis. They are very independet themselves, so they can be deleted with relative ease. They have a great deal of variables that they depend on, so be sure that all necessary values are in place when creating a new course.</div>
<br />

<section style="border-bottom: groove">
    <br />
    <h2>Creating/Editting Courses</h2>
    <img src="~/images/Add_Course_1.PNG" alt="Add Course Upper Page" />
    <br />
    <div>Due to the complexity of making courses, make sure that the course you are about to add is not already in the database.</div>
    <br />

    <ul>
        <li>Department and Subject</li>
        <div>Courses must be assigned a Department and a Subject. The drop down menus {maybe outline in screenshot with a specific color} are searchable via key press. Rather than scrolling to find the desired result, enter the first and.or second letter in quick succession to find the desired item.</div>
        <br />
        <li>Number</li>
        <div>The number represents the level of the course within a given subject. [We should change this input box to be three digits]</div>
        <br />
        <li>Title</li>
        <div>The title is the phonetic indicator of the class. For instance, MATH 202 would have the phoneme name Calculus II.</div>
        <br />
        <li>Credit Hours</li>
        <div>The credit hours is the number of credit hours that a course is worth {We should make this a drop down box or single select radio button with values 0, 1, 3, and 4}</div>
    </ul>

    <br />
    <img src="~/images/Add_Course_2.PNG" alt="Add Course Lower Page" />
    <br />
    <div>The menus displayed here may be left blank, but it is necessary to identify the attributes associated with specific courses. Clicking on a tag in a field will switch it to the opposing column. {Should we label the fields so we know which is in the course and which isn't?} As a rule of thumb, each of the displays on the right should contain at least one value.</div>
    <br />
    <ul>
        <li>Course Levels</li>
        <div>Only two options here: Undergraduate and graduate. Some courses can be both.</div>
        <br />
        <li>Schedule Types</li>
        <div>The schedule type is an indicator of the class's structure. {Is this different from Methods?}</div>
        <br />
        <li>Course Attributes</li>
        <div>These are additional miscellaneous tags associated with courses. Some describe the nature of the coursework, while others highlight an extranious degree requirement that a course fulfills. Note the Constitution Requirement displayed in the above image.</div>
    </ul>

    <br />
</section>

<section>
    <br />
    <h2>Managing Courses</h2>
    <div>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</div>
    <br />
    <div>Be sure to rely on the details button to view the complex tags attached to courses.</div>
</section>