@page

<section>
    <p>
        Herein is one of the more complex variables utilized in making schedules. Courses are frequently altered, created, and dropped on a yearly basis. They are very independet themselves, so they can be deleted with relative ease. They have a great deal of variables that they depend on, so be sure that all necessary values are in place when creating a new course.
    </p>
</section>


<section style="border-bottom: groove">
    <br />
    <h2>Creating/Editing Courses</h2>
    <img src="~/images/Add_Course_1.PNG" alt="Add Course Upper Page" />
    <br />
    Let's start with the required fields in creating courses:
    <br />

    <ul>
        <li>Department and Subject</li>
        <p>
            Select these from their respective drop-down lists. The lists accept keyboard input, so you can select the list and then enter the first few letters to quickly find the desired variable.
        </p>
        <li>Number</li>
        <p>
            The course's level within a given subject. (I.E. MATH 101, MATH 102, etc.) This field accepts three numbers with an optional fourth letter at the end.
        </p>
        <li>Title</li>
        <p>
            The phonetic name of the course. MATH 101 would be named "Algebra and Trigonometry for Calculus".
        </p>
        <li>Credit Hours</li>
        <p>
            The number of credit hours that a course is worth. Typically uses whole numbers 0-4.
        </p>
    </ul>

    <img src="~/images/Add_Course_2.PNG" alt="Add Course Lower Page" />
    <br />
    <ul>
        <li>Course Level</li>
        <p>
            A check mark signifies the level of the course. At least on of the levels must be selected.
        </p>
        <li>Schedule Types</li>
        <p>
            These variables are optional in creating a Course variable, but it is strongly encouraged to apply all relevant attributes to each course. Simply click the label on the left to move it to the right.
        </p>
        <li>Course Attributes</li>
        <p>
            A check mark in this box means that the course is available to use in creating schedules.
        </p>
    </ul>
</section>

<section>
    <br />
    <h2>Managing Courses</h2>
    <img src="~/images/Manage_Courses.PNG" />
    <br />
    <p>
        The Course Management page differs heavily from the standard variable management pages. The change in structure accommodates the sheer volume of courses that the software handles.
    </p>
    There are a number of filters at the top of the page that the results can be sorted through:
    <ul>
        <li>Department</li>
        <p>
            Select from the available department codes.
        </p>
        <li>Subject Identifier</li>
        <p>
            Select from the available subject codes.
        </p>
        <li>Name</li>
        <p>
            The phonetic title of the course. This is used to find single courses.
        </p>
        <li>Credit Hours</li>
        <p>
            Sort by the number of credit hours. Be sure to use a whole number 0-4
        </p>
        <li>Schedule Types and Course Attributes</li>
        <p>
            Select any one of either of these variables to filter the results.
        </p>
    </ul>

    <p>
        The list of courses at the bottom (containing the typical management page layout) can be altered in the bottom right corner to show 5, 10, 20, or 100 results per page. Immediately to the right of this drop-down menu is the number of courses present on the current page, the total number of results, and the number of pages. Immediately to the right of these values are two arrow buttons that cycle through the filtered results.
    </p>
    <p>
        "Details" shows all information entered from the creation/edit page of courses.
    </p>
</section>