@page

<section>
    <p>
        Departments are the overarching groupings of different subjects into a focused field of study. Within this software, this variable will most frequently be assigned to Courses and Users.
    </p>
    <p>
        While more common than other rarely added variables, creating a new department is uncommon, and the inclusion of create and edit functions is intended for future-proofing.
    </p>
</section>

<section>
    <br />
    <h2>Creating Departments</h2>
    <img src="~/images/Add_Code_Name.PNG" />
    <br />
    <p>
        Departments consist of a code and name. The code is typically four letters long, and will automatically be capitalized by the software. Both entry fields are required.
    </p>
</section>

<section>
    <br />
    <h2>Managing Departments</h2>
    <img src="~/images/Manage_Departments.PNG" />
    <br />
    <p>
        "Details" lists the code, name, associated users, and associated courses of the indicated department. A course may not be deleted while it has courses attached to it, but it may be deleted if it only has users attached to it.
    </p>
    <p>
        There are no specialized links in this Management page.
    </p>
</section>
