@page

<div>
    <h2>Introduction</h2>

    <div>This manual is included with the software to ease the burden of training new users. It also provides a brief overview of how the software operates, and how the various elements interact with one another.</div>
    <br />
    <div>To seeinstructional methods on a particular element of software, simply click the related name in the panel on the left of this overview.</div>
    <br />
    <div>The schedule making software relies on an SQL database, which stores all variables and scheduling items in tables. This means that any classes or buildings added by users are not stored locally, and are available to all users after their creation.</div>
    <br />
    <div>Some of the variables are codependent, and require one or more attributes to exist before they may be committed to the database. For instance, a course MUST have a subject variable upon creation.</div>
    <br />
    <div>List the qualified users here:</div>
    <li>Test Bullet</li>
</div>

<!--unimplemented buttons. If it's simple to do, I thought it might be a good idea to make slide shows in the content section of the user manual.
    Unfortunately, given the nature of html, the only option might be to create a plethora of extra pages, and that could get messy.
    I'd much rather implement a counter that determines which div content is displayed-->
<div align="center">
    <button type="button"><<</button>
    <button type="button">>></button>
    <div>I'd like to change the font and line spacing to make it more legible</div>
</div>
