@page

<section>
    <p>
        Instructors are utilized in the schedule making aspect of the software. They are assigned to instruct courses at specific times. They wholly independent of other variables.
    </p>
    <p>
        Instructors may NOT be deleted from the system.
    </p>
</section>

<section>
    <br />
    <h2>Creating Instructors</h2>
    <img src="~/images/Add_Instructor.PNG" />
    <br />
    <p>
        The First and Last name fields are required. The middle name is optional. The check box marks whether or not an instructor is available for course assignments.
    </p>
</section>

<section>
    <br />
    <h2>Managing Instructors</h2>
    <p>
        The Details page shows the full name, the instructor's Active status, and any current courses the instructor is teaching.
    </p>
    <p>
        Instructors should NOT be deleted. They should merely be changed to inactive.
    </p>
</section>