@page

<section>
    <p>
        Instructors are utilized in the schedule making aspect of the software. They are assigned to instruct courses at specific times. They wholly independent of other variables.
    </p>
    <p>
        Instructors may NOT be deleted from the system. [Or so I seem to remember]
    </p>
</section>

<section>
    <br />
    <h2>Creating Instructor</h2>
    <img src="~/images/Add_Instructor.PNG" />
    <br />
    <p>

    </p>
</section>

<section>
    <br />
    <h2>Managing Instructors</h2>
    <p>
        "Details" only shows the full name. [If we implement nothing else, maybe remove Details from this list.]
    </p>
    <p>
        [Let's remove Delete from this list]
    </p>
</section>