@page

<section style="border-bottom: groove">
    <h2>The Navbar</h2>
    
    <p>
        The navigation bar at the top of the page is consistent throughout the app. The "Home" button will return you to the main menu, and the "User Manual" brought you here. The "Logout" button will sign you out of the app.
    </p>
    <p>
        Note that this manual opened in a new tab. This is meant to give you access to the manual at any time without interrupting your current task.
    </p>
</section>

<section>
    <br />
    <h2>The Main Menu</h2>
    <img src="~/images/MainMenuExample.PNG" alt="Main Menu Example" style="border: hidden"/>
    <br />
    
    <p>
        The main menu is separated into categories for ease of use and legibility. Each theme contains multiple related variables. They are (generally) listed in descending bottom-up hierarchy. Subjects must exist before they are implemented into Courses, so they are displayed above Courses.
    </p>
    <p>
        Beside every entry are two buttons: Add and Manage. The Add button navigates to the creation page for a new variable of that row's type. The Manage button navigates to a list of existing variables of that row's type, along with further options.
    </p>
</section>