@page

<section style="border-bottom: groove">
    <h2>The Navbar</h2>
    <p>The navigation bar at the top of the page is consistent throughout the app. The "Home" button will bring you to the main menu, and the "User Manual" brought you here in a new tab.</p>
    <br />
    <p>On the far right of the nav bar are two buttons. One is your user name, and the other is "Logout". [Could we immplement a timeout to log people out after inactivity for so many minutes?] Clicking on your user name will take you to your settings menu. The log out button ends the session.</p>
    <br />
</section>

<section>
    <br />
    <h2>The Main Menu</h2>
    <img src="~/images/MainMenuExample.PNG" alt="Main Menu Example" style="border: hidden"/>
    <br />
    <p>The main menu is separated into themes for legability. Each theme contains multiple variables that will be used to define courses when applied to a schedule. A brief blurp (not represented in above image) outlines important details about each variable.</p>
    <br />
    <p>Clicking on the "Add" button in a desired row will navigate to a creation page for that row's variable. Creation pages have differing values that must be entered. These will be covered more thoroughly in individual sections of this guide.</p>
    <br />
    <p>The "Manage" button will navigate to editting options. These also differ between variables, but this is where further details and deletion can be accessed.</p>
    <br />
    <p>[Maybe have some screenshots here, i don't know yet]</p>
</section>