@page

<section>
    <p>The instructional methods are used to categorize courses. Some courses utilize traditional classroom lecture, while others may be exclusively online.</p>
    <br />
    <p>Creation or editing of these variables will likely be rare, and their inclusion is intended for future proofing the system.</p>
    <br />
</section>

<section style="border-bottom: groove">
    <br />
    <h2>Creating A New Method</h2>
    <img src="" alt="" />
    <br />
    <p>When a new method is introduced, it's most important aspects are the name and whether or not a room is required. Some current examples of method variables:</p>
    <br />

    <ul>
        <li>Lecture</li>
        <p style="margin-left: 50px">Requires Room</p>
        <br />
        <li>Online</li>
        <br />
        <li>Hybrid</li>
        <p> style="margin-left: 50px">Requires Room</p>
    </ul>

    <br />
</section>

<section>
    <br />
    <h2>Managing Methods</h2>
    <p>There are no specialized fields assoicated with managing intructional methods. Refer to Add/Manage for assistance with standard management queries.</p>
</section>
