@page

<section>
    <p>
        These variables are independent of Course Attributes. They go hand-in-hand with time allotments, and convey whether or not a particular course needs to be assigned a consistently available classroom on-campus.
    </p>
    <p>
        Creation or editing of these variables will likely be rare, and their inclusion is intended for future proofing the system.
    </p>
</section>

<section>
    <br />
    <h2>Creating A New Method</h2>
    <img src="~/images/Add_Method.PNG" alt="Add Method Page Example" />
    <br />
    <p>
        The code and the name are both required fields, though neither has input limitations. Any letters entered in the code will be capitalized. Be sure to check whether the new method requires a physical classroom. A checked box means it does, a blank box means it doesn't. An online method would not need a physical room, but a traditional lecture would.
    </p>
</section>

<section>
    <br />
    <h2>Managing Methods</h2>
    <p>
        [Having some problems migrating]
    </p>
</section>
