@page

<section>
    <p>
        Rooms are utilized in the schedule making tool. Each room is assigned to a building, making them very dependent variables.
    </p>
    <p>
        To create or manage rooms, you must navigate to the Manage page of "Buildings and Rooms". From there, click the Edit button of the building that will receive the new room.
    </p>
    <img src="~/images/Edit_Building.PNG" />
    <br />
    <p>
        Note that the Manage page for rooms is embedded within the Edit page of the chosen building. To create a room, click on the Create New in the embedded management page.
    </p>
</section>

<section>
    <br />
    <h2>Creating Rooms</h2>
    <img src="~/images/Add_Room.PNG" />
    <br />
    <p>
        The building code is derived from the codes assigned to building variables. If the necessary code does not appear in the drop-down menu, then the building either doesn't exist, or it has not been enabled.
    </p>
    <p>
        The number is the main identifier for the room. Numbers are allowed to repeat, but not in the same building. They may also contain letters.
    </p>
    <p>
        The capacity refers to the seating capacity of a room. Be sure to use whole numbers in this required field.
    </p>
</section>

<section>
    <br />
    <h2>Managing Rooms</h2>
    <p>
        The Details page will show the selected room’s number, the building that it’s assigned to, its capacity, and its enablement status. Remember, a room must be enabled to used in assigning courses.
    </p>
</section>