@page

<div>These are quick and simple tags that describe how courses are scheduled and attended by instructors. {How is this different from Instructional Methods}</div>
<br />
<br />

<div style="border-bottom: groove">
    <h2>Creating Schedule Attributes</h2>
    <img src="~/Images/Add_Schedule_Attribute.PNG"/>
    <div>Simply enter an appropriate name and click create.</div>
    <br />
</div>

<div>
    <br />
    <h2>Managing Schedule Attributes</h2>
    <div>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</div>
</div>
