@page

<section>
    <p>
        This variable can be easily confused with the Instructional Method variable. To clarify, the Instructional Method refers to time and location parameters, (such as taking up a full semester and requiring a lecture hall) whereas Schedule Types are course descriptors.
    </p>
    <p>
        "Internship" is a schedule type attribute, as is "Lecture" and "Thesis". The system treats these as optional descriptors for courses, but they are expected to be relatively well-maintained for the ease of prioritizing courses in schedule making.
    </p>
    <p>
        [Blegh, might come back and rephrase this]
    </p>
</section>

<section>
    <br />
    <h2>Creating Schedule Attributes</h2>
    <img src="~/images/Add_Schedule_Attribute.PNG" alt="Add Schedule Attributes" />
    <br />
    <p>
        This variable requires both a code and a name. Neither may repeat in the database. The code is generally three characters long, and letters will be automatically capitalized.
    </p>
</section>

<section>
    <br />
    <h2>Managing Schedule Attributes</h2>
    <img src="~/images/Manage_Schedule_Types.PNG" />
    <br />
    <p>
        "Details" lists the Code and Name of the selected variable as well as any courses bear the attribute.
    </p>
    <p>
        There are no specialized links in this Management page.
    </p>
</section>
