@page

<p>These are quick and simple tags that describe how courses are scheduled and attended by instructors. {How is this different from Instructional Methods}</p>
<br />
<br />

<section style="border-bottom: groove">
    <h2>Creating Schedule Attributes</h2>
    <img src="~/images/Add_Schedule_Attribute.PNG" alt="Add Schedule Attributes" />
    <br />
    <p>Simply enter an appropriate name and click create.</p>
    <br />
</section>

<section>
    <br />
    <h2>Managing Schedule Attributes</h2>
    <p>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</p>
</section>
