@page

<section>
    <p>
        The scheduling courses tool utilizes a tiered setup to assign Courses to terms with meeting times and sections.
    </p>
</section>

<section>
    <br />
    <h2>First Step</h2>
    <img src="~/images/Select_Term.PNG" />
    <p>
        Regardless of what you chose from the main menu, be it Add or manage, you'll be prompted to select a term from a drop-down list.
    </p>
</section>

<section>
    <br />
    <h2>Creating Course Section</h2>
    <img src="~/images/Add_Course_Section.PNG" />
    <br />
    <p>
        After selecting the term, the next step in adding a scheduled course is creating a section for the course in the selected term. Simply select the term and its appropriate tags from the drop-down list boxes, and then add the section and maximum capacity of the class. Click the create button.
    </p>
    <img src="~/images/Edit_Course_In_Schedule.PNG" />
    <br />
    <p>
        After clicking the create button, the screen will change to an edit page, with a new extension at the bottom. Click "Create New" to add a new meeting time for the freshly created course section.
    </p>
    <img src="~/images/Add_Meeting_Time.PNG" />
    <br />
    <p>
        Creating the meeting time requires choosing an appropriate instructional method. In the above case, a Class. The Start and End time entry fields accept input from mouse or keyboard. Recall that most standard classes run for 75 minutes. The first class slot of any given day is 8:00 am. There are 15 minute breaks between classes.
    </p>
    <p>
        Finally, select the days the class will meet. Most courses take place on Monday and Wednesday or Tuesday and Thursday. These two standard blocks can also utilize a Friday time slot.
    </p>
    <p>
        Atypical scheduling should be consulted on a class per class basis. For instance, lab classes typically only meet one day a week, but have extended hours each meeting. Many single credit courses only meet for 50 minutes twice a week.
    </p>
</section>

<section>
    <br />
    <h2>Managing Scheduled Courses</h2>
    <p>
        After selecting the term, the resulting management page follows the traditional management format, albeit with several tags on display.
    </p>
    <img src="~/images/Scheduled_Course_Section_Page.PNG" />
    <br />
    <p>
        ^The Details page of a selected course section.
    </p>
</section>
