@page

<section>
    <h1>Account Settings</h1>
    <p>This page is set up specifically to manage miscellaneous login information. The editable categories include a linked email account, changing your password, and adding an external login.</p>
    <br />
    <li>Profile</li>
    <p>Users may add an email account here. The account provides a backup in case of forgotten login information.[?]</p>
    <br />
    <li>Password</li>
    <p>Users may update the password by re-entering the old password alongside the new one. The new password must be confirmed before it is updated in the system.</p>
    <p>Users may also remove the current password. Be warned: doing so will reduce the security level of the account.</p>
    <br />
    <li>External Logins</li>
    <p>This feature currently supports Winthrop Logins. It also acts a springboard for any future login services the university might utilize.</p>
    <p>[Maybe some screenshots]</p>
</section>
