@page

<div>
    <h1>Account Settings</h1>
    <div>This page is set up specifically to manage miscellaneous login information. The editable categories include a linked email account, changing your password, and adding an external login.</div>
    <br />
    <li>Profile</li>
    <div>Users may add an email account here. The account provides a backup in case of forgotten login information.[?]</div>
    <br />
    <li>Password</li>
    <div>Users may update the password by re-entering the old password alongside the new one. The new password must be confirmed before it is updated in the system.</div>
    <div>Users may also remove the current password. Be warned: doing so will reduce the security level of the account.</div>
    <br />
    <li>External Logins</li>
    <div>This feature currently supports Winthrop Logins. It also acts a springboard for any future login services the university might utilize.</div>
    <div>[Maybe some screenshots]</div>
</div>
