@page

<section>
    <p>
        Subjects are one of the foundational variables in creating Courses and, subsequently, Schedules. Each subject requires a four-letter code and a name (I.E. ACCT Accounting).
    </p>
    <p>
        Creation or editing of these variables will likely be rare, and their inclusion is intended for future proofing the system.
    </p>
</section>

<section>
    <br />
    <h2>Creating Subjects</h2>
    <img src="~/images/Add_Code_Name.PNG" alt="Add Subject" />
    <br />
    <p>
        The Add page only has two fields. Input the four letter code and the phoneme in their appropriate boxes and then click "Create".
    </p>
</section>

<section>
    <br />
    <h2>Managing Subjects</h2>
    <img src="~/images/Manage_Subjects.PNG" />
    <br />
    <p>
        The Details link generates a page that lists the specified subject's Name, code, and any courses that the database has already attributed to the subject.
    </p>
    <p>
        A course may only be deleted if it has no courses attached to it.
    </p>
</section>
