@page

<div>
    <h1>Subjects</h1>
    <div>Each subject has a four letter code and a phonetic label. For instance, MATH - Mathematics.</div>
    <div>{Should we add the department it's associated with?}</div>
    <br />
    <div>Creation or editing of these variables will likely be rare, and their inclusion is intended for future proofing the system.</div>
    <br />
    <br />
</div>

<div style="border-bottom: groove">
    <h2>Creating Subjects</h2>
    <img src="~/Images/Add_Subject.PNG"/>
    <div>{Hey, we need to change the code input field to only accept 4 letters.} Input the four letter code and the subject's name in plain english. These can be found in the relavent catalogues.</div>
    <br />
</div>

<div>
    <br />
    <h2>Managing Subjects</h2>
    <div>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</div>
</div>
