@page

<section>
    <p>Each subject has a four letter code and a phonetic label. For instance, MATH - Mathematics.</p>
    <p>{Should we add the department it's associated with?}</p>
    <br />
    <p>Creation or editing of these variables will likely be rare, and their inclusion is intended for future proofing the system.</p>
    <br />
    <br />
</section>

<section style="border-bottom: groove">
    <h2>Creating Subjects</h2>
    <img src="~/images/Add_Subject.PNG" alt="Add Subject" />
    <br />
    <p>{Hey, we need to change the code input field to only accept 4 letters.} Input the four letter code and the subject's name in plain english. These can be found in the relavent catalogues.</p>
    <br />
</section>

<section>
    <br />
    <h2>Managing Subjects</h2>
    <p>There are no specialized fields assoicated with managing courses. Refer to Add/Manage for assistance with standard management queries.</p>
</section>
