@page

<h1>Terms</h1>
<div>The term precedes most time based variables in the app. Parts of term, which can be assigned to courses, can only be createed after a term is created.</div>
<br />

<div style="border-bottom: groove">
    <br />
    <h2>Creating Terms</h2>
    <img src="~/Images/Add_Term.PNG"/>
    <div>Enter the start date, either by keyboard or with the drop down calender menu. Enter the end date with the same method. Give the term an appropriate name (I.e. Fall 2019). Then click create.</div>
    <br />
    <div>The new term will be added to the database and the software will navigate to the management page. NOTE: No two terms may have the same name.</div>
    <br />
</div>

<div>
    <br />
    <h2>Managing Terms</h2>
    <img src="Manage_Terms.PNG"/>
    <div>This screen can be reached by clicking the "Manage" button, or after entering a new term. If no terms have been entered, this page will appear blank, and the buttons will not be present.</div>
    <br />
    <div>Terms have some specialized buttons attached to their management page:</div>
    <br />
    <li>Course Sections</li>
    <div>This navigates to the time blocks(?) available within the given term. [For viewing only]</div>
    <br />
    <li>Parts of Term</li>
    <div>The sections associated with the term (half semester, full semester, etc.). [For viewing only]</div>
    <br />
    <li>Duplicate</li>
    <div>{What is this for?}</div>
</div>
