@page

<section>
    <p>
        This variable is only for use by the course scheduling system. Adding a user here means that the system's inner database recognizes the incoming request of the external Winthrop login and grants access to the software.
    </p>
    <p>
        Allowing current users to add a new username to the inner database streamlines the overall process of adding new users. The new user still needs permission from Winthrop's external sign-in application to proceed. Contact IT for support on that security measure.
    </p>
    <p>
        [I assume this is the case without Groups]
    </p>
</section>

<section>
    <br />
    <h2>Creating Users</h2>
    <img src="~/images/Add_User.PNG" />
    <br />
    <p>
        The username is the only required field on this creation page. The username MUST MATCH the user's Winthrop login ID (last name, first initial, and a number).
    </p>
    <p>
        The lockout check box prevents unauthorized users from accessing the system while still maintaining their presence in the system. Be careful: If a user initiates lockout on him/her self, another user must uncheck the lockout box on the username to unlock said user.
    </p>
    <p>
        The departments are optional, but serve to help further identify users.
    </p>
</section>

<section>
    <br />
    <h2>Managing Users</h2>
    <p>
        "Details" displays the username, lock out status, and departments of a user.
    </p>
    <p>
        Users may not be deleted by other users. They must be removed by Winthrop's IT department.
    </p>
</section>
