@page
@model CourseSchedulingSystem.Pages.Manage.IndexModel
@{
    ViewData["Title"] = "Administration";
}

<h1>Administration</h1>
<hr />
<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Scheduling
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Instructional Methods
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Terms
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
    </ul>
</div>

<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Course Management
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Subjects
            <span>
                <a asp-page="./Subjects/Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                <a asp-page="./Subjects/Index" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Attribute Types
            <span>
                <a asp-page="./AttributeTypes/Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                <a asp-page="./AttributeTypes/Index" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Schedule Types
            <span>
                <a asp-page="./ScheduleTypes/Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                <a asp-page="./ScheduleTypes/Index" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Courses
            <span>
                <a asp-page="./Courses/Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                <a asp-page="./Courses/Index" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
    </ul>
</div>

<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Department Management
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Departments
            <span>
                <a asp-page="./Departments/Create" class="btn btn-outline-success"><i class="fa fa-plus"></i> Add</a>
                <a asp-page="./Departments/Index" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Instructors
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
    </ul>
</div>

<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Infrastructure
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Buildings
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Rooms
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
    </ul>
</div>

<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Authentication and Authorization
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Groups
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Users
            <span>
                <a href="#" class="btn btn-outline-success disabled"><i class="fa fa-plus"></i> Add</a>
                <a href="#" class="btn btn-outline-primary disabled"><i class="fa fa-pencil-alt"></i> Change</a>
            </span>
        </li>
    </ul>
</div>
