@page
@model CourseSchedulingSystem.Pages.Manage.IndexModel
@{
    ViewData["Title"] = "Administration";
}

<h1>Administration</h1>
<hr />
<div class="card">
    <div class="card-header">
        Authentication and Authorization
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Groups
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Users
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
    </ul>
</div>

<div class="card mt-3">
    <div class="card-header">
        Department Management
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Courses
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Departments
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Instructors
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Subjects
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
    </ul>
</div>

<div class="card mt-3">
    <div class="card-header">
        Infrastructure
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Buildings
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Rooms
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
    </ul>
</div>

<div class="card mt-3">
    <div class="card-header">
        Scheduling
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Instructional Methods
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Terms
            <span>
                <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-warning"><i class="fa fa-pencil-alt"></i> Change</button>
            </span>
        </li>
    </ul>
</div>

