
$primary: #660000;
$secondary: #F0B323;
$red: #A61A32;
$white: #fff;
$cyan: #006F79;
$blue: #00538E;
$yellow: #ffc107;
$purple: #4B2884;
$gray-400: #ced4da;
$gray-300: #EAEAEA;
$gray-600: #888B8D;
$gray-500: #adb5bd;
$font-family-sans-serif: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$green: #28a745;