@page "{id:Guid}"
@model CourseSchedulingSystem.Pages.Manage.Terms.TermParts.EditModel

@{
    ViewData["Title"] = $"Edit {Model.TermPart.Name} - {Model.TermPart.Term.Name}";
}

<h1>Edit</h1>

<h4>@Model.TermPart.Term.Name - Part of Term</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TermPart.Name" class="control-label"></label>
                <input asp-for="TermPart.Name" class="form-control"/>
                <span asp-validation-for="TermPart.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermPart.StartDate" class="control-label"></label>
                <input asp-for="TermPart.StartDate" class="form-control"/>
                <span asp-validation-for="TermPart.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermPart.EndDate" class="control-label"></label>
                <input asp-for="TermPart.EndDate" class="form-control"/>
                <span asp-validation-for="TermPart.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Edit" asp-route-id="@Model.TermPart.TermId">Back to Term</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#TermPart_StartDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                format: 'yyyy-mm-dd',
                minDate: moment(),
                maxDate: function () {
                    return $('#TermPart_EndDate').val();
                }
            });
            $('#TermPart_EndDate').datepicker({
                uiLibrary: 'bootstrap4',
                iconsLibrary: 'fontawesome',
                format: 'yyyy-mm-dd',
                minDate: function () {
                    return $('#TermPart_StartDate').val();
                }
            });
        });
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}