@page "{termId:Guid}"
@model CourseSchedulingSystem.Pages.Manage.CourseSections.CreateModel

@{
    ViewData["Title"] = $"Create Course Section - {Model.Term.Name}";
}

<h1>Create</h1>

<h4 class="mb-0">@Model.Term.Name - Course Section</h4>
<small>Scheduled Meeting Times can be added after creating a course section.</small>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseSection.CourseId" class="control-label"></label>
                <select asp-for="CourseSection.CourseId" class ="form-control" asp-items="Model.CourseIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseSection.Section" class="control-label"></label>
                <input asp-for="CourseSection.Section" class="form-control" />
                <span asp-validation-for="CourseSection.Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseSection.ScheduleTypeId" class="control-label"></label>
                <select asp-for="CourseSection.ScheduleTypeId" class ="form-control" asp-items="Model.ScheduleTypeIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseSection.InstructionalMethodId" class="control-label"></label>
                <select asp-for="CourseSection.InstructionalMethodId" class ="form-control" asp-items="Model.InstructionalMethodIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseSection.TermPartId" class="control-label"></label>
                <select asp-for="CourseSection.TermPartId" class ="form-control" asp-items="Model.TermPartIds"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseSection.MaximumCapacity" class="control-label"></label>
                <input asp-for="CourseSection.MaximumCapacity" class="form-control" />
                <span asp-validation-for="CourseSection.MaximumCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-termId="@Model.Term.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
